@model IEnumerable<WebClient.Models.WeatherModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1> Weather page  Data link</h1>

<table class="table table-bordered display nowrap" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
        </tr>
        }
    </tbody>
</table>